# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Archivos temporales de Jupyter
.virtual_documents/
**/.virtual_documents/

# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/
env/

# Configuración de VSCode
.vscode/

# Configuración de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
